.container {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  background-color: white;
  min-height: 100vh;
}

.center {
	text-align: center;

}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: #20515b;
}

main p:first-child, main h2:first-child {
  margin-top: 0;
}

main img {
  width: 100%;
  height: auto;
}

main p {
  text-align: justify;
}

table {
	display: inline-block;
	margin-left: 15px;
	border: 1px solid #1c1c1c;
	border-radius: 10px;
	overflow: hidden;
  border-collapse: collapse;
	border-spacing: 0;
}

table tr td {
	padding: 1em;
}

table tr:nth-child(odd) {
	background-color: #eeeeee;
}

table tr:first-child {
	background-color: #20515b;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

nav ul, nav ul li {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  padding: 1em 0;
  text-indent: 1em;
  width: 100%;
  background-color: #20515b;
  color: #ffffff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  border-top: 1px solid #ffffff;
}

h1 {
  font-size: 4em;
  text-align: center;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

header, nav, main, footer {
  grid-column: 1 / 2;
}

main {
  padding-left: 10px;
  padding-right: 10px;
}

.social-media {
  letter-spacing: 10px;
  width: 154px;
  margin-left: auto;
  margin-right: auto;
}

.social-media a {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

footer {
  background-color: #1c1c1c;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

.google-map iframe {
  border: 0;
  padding: 5px;
  filter: grayscale(100%);
  width: 100%;
  box-sizing: border-box;
}

.google-map {
  width: 100%;
}

.contact {
  padding: 5px;
}

form {
	margin: 1em 0;
}

legend {
  font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

fieldset {
	border: 1px solid #1c1c1c;
	padding: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

label {
	display: inline-block;
	min-width: 100px;
	padding-top: 20px;
}

input {
	padding: 5px;
	border: none;
	border-bottom: 3px solid #20515b;
	min-width: 250px;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	background-color: #eeeeee;
}

input[type=checkbox] {
  min-width: 0;
}

input[type=radio] {
	min-width: 0;
  margin-left: 1em;
}

input[type=date] {
  font-family: 'Merriweather', serif;
}

input[type=submit] {
	background-color: #5faaad;
	min-width: 100%;
	padding: 10px 30px;
	font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.booking {
  width: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.call-to-action {
  display: inline-block;
  padding: 1em;
  background: #e54040;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  box-sizing: border-box;
}

.call-to-action:hover {
  background-color: #5faaad;
}

.rea {
  background-color: #e54040;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}

@media (max-width: 460px) {
	table {
		font-size: 10px;
	}
}

@media screen and (min-width: 960px) {
  body {
    background-image: url("../images/background.jpg");
    background-size: cover;
  }
  .container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 300px auto;
    grid-template-rows: 200px auto 250px;
  }
  nav ul li a:hover {
    background-color: #5faaad;
  }
  header, footer {
    grid-column: 1 / 3;
  }
  main {
    grid-column: 2 / 3;
  }

  .google-map {
    padding: 20px;
    width: 440px;
    float: left;
  }

  .google-map iframe {
    border: 1px solid #ffffff;
  }

  .contact {
    padding: 20px;
    width: 440px;
    float: right;
  }

  .booking {
    margin-top: 50px;
    padding: 100px;
    width: 600px;
    background-color: rgba(255,255,255,0.9);
  }
}
