@{
    Page.Title = "Välkommen - Startsida ";
    Layout = "~/Shared/_Layout.cshtml";
}

    <main>
        <img src="./images/front.jpg" alt="Stuga vid vatten" />
        <h2>Välkommen!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum nulla egestas ante pretium vestibulum quis ac sapien. Nulla dignissim, nisi a varius fermentum, nisi dolor varius tellus, sit amet molestie elit orci at nibh. Vestibulum vel pharetra orci. Maecenas libero ligula, tempor ut est id, eleifend varius neque. In massa urna, malesuada sed laoreet nec, vulputate nec ligula. Proin bibendum leo vitae ante elementum, viverra fermentum arcu iaculis. Sed pharetra dictum cursus. Donec bibendum hendrerit diam, eu condimentum magna euismod dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec in odio augue. Vivamus eleifend, erat ac pretium venenatis, lectus quam vulputate arcu, non placerat dolor sapien vel risus.</p>

        <div class="center">
            <a href="boka-stuga.html" class="call-to-action">Boka direkt!</a>
        </div>

        <p>Aenean quam eros, tincidunt non leo et, maximus viverra nisl. Morbi quis blandit leo. Fusce molestie, quam a laoreet efficitur, quam justo varius arcu, vitae porta magna massa quis risus. Duis faucibus bibendum nulla id fermentum. Nullam sed ipsum ante. Integer sagittis, purus id cursus venenatis, sem tellus euismod sapien, quis lacinia diam urna ut nisl. Sed dapibus felis finibus efficitur mattis. Nunc dignissim hendrerit lorem vitae finibus. Morbi eu urna ipsum. Donec pulvinar, diam in maximus sagittis, urna lacus tempus ante, quis efficitur libero mauris nec purus. Sed et velit eu tortor sodales porta sit amet id sapien. Cras eu gravida diam, ac porttitor ex.</p>

        <p>Aenean sagittis venenatis dui nec convallis. Quisque hendrerit consectetur dolor et mollis. Curabitur quis nisi ante. Curabitur et bibendum nisl. Donec sit amet nisi in neque ultrices pretium. Aenean non pharetra lacus. Nunc metus ante, pulvinar in tellus quis, condimentum volutpat felis. Curabitur eu est ac mauris vehicula rutrum. Fusce mauris lacus, maximus vitae nulla vel, lobortis pellentesque tortor. Mauris mattis blandit augue.</p>
    </main>